.circle{
  border-radius: 100%;
  display: block;
  position: absolute;
  &_red{
    background: radial-gradient(50% 50% at 50.08% 49.97%, #F50000 56.42%, #F10000 62.84%, #E70000 68.52%, #D50000 73.93%, #BB0000 79.17%, #9A0000 84.29%, #720000 89.33%, #420000 94.28%, #0C0000 99.06%, #000000 100%);
  }
  &_gray{
    background: radial-gradient(49.96% 49.96% at 50.07% 49.96%, #EA8100 56.42%, #E67F00 62.97%, #DC7900 68.77%, #CA6F00 74.3%, #B06100 79.65%, #8F4F00 84.87%, #673900 90.01%, #371F00 95%, #010100 99.89%, #000000 100%);
  }
  &_violet{
    background: radial-gradient(50% 50% at 50.1% 49.92%, #7000B2 56.42%, #6E00AE 63.83%, #6700A4 70.4%, #5C0092 76.64%, #4C0078 82.69%, #370057 88.6%, #1E002F 94.32%, #000001 99.94%, #000000 100%);
  }
}